---
layout: default
---

<div class="home">
  <h1>Recent</h1>

  <ul class="post-list">
    {% for post in site.recent %}
      <li>
        <!--
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        -->
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
         <img width="320px" src="{{ post.image }}">
      </li>
    {% endfor %}
  </ul>
  
  <h1>Past and future projects</h1>

  <ul class="post-list">
    {% for post in site.archive %}
      <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}
          <img width="200px" src="{{ post.image }}"></a>
      </li>
    {% endfor %}
  </ul>

</div>
